---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Next race
================================================== -->
<section class="next-race">
    <div class="section-title">
        <h2><span>When is the next race?</span></h2>
    </div>
    <div class="row">

    {% include nextrace.html %}

    </div>
</section>

<!-- Quick summary
================================================== -->
<section class="next-race">
    <div class="section-title">
        <h2><span>What is FORMULA 1?</span></h2>
    </div>
    <div class="row">

    {% include homepagesummary.html %}

    </div>
</section>

{% endif %}
