<!-- begin next race -->
<div class="col mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100 pt-3 pb-1 mx-3">
            <div class="my-auto">
              <p>
              FORMULA 1 is a motorsport where 20 drivers (and their teams) compete in 21 races across the world to win the FORMULA 1 World Championship.
              </p>

              <p>
                Teams work to produce some of the most powerful, technologically advanced cars. These cars are then raced in a number of Grand Prix around the world with drivers and their teams looking to earn the most points by the end of the season. <a href="{% link _pages/rules.md %}" class="font-weight-bold">Read more...</a>
              </p>
            </div>
        </div>
    </div>
</div>
<!-- end next race -->
