<!-- begin next race -->
{% assign current_date = 'now' | date: '%s' %}

{% for race in site.data.races %}
  {% assign race_date = race.race-date | date: '%s' %}
  {% if race_date >= current_date %}
    {% assign next_race = race.name %}
    {% assign next_race_country_code = race.country-code %}
    {% break %}
  {% endif %}
{% endfor %}

<a href="{% link _pages/calendar.md %}" class="next-race text-dark w-100" >

  <div class="col mb-30px">
      <div class="listfeaturedtag h-100">
          <div class="row h-100">
              <div class="col-3 col-md-2 col-lg-2">
                <img src="/assets/images/flags/{{ next_race_country_code }}.png" class="h-100" />
              </div>
              <div class="my-auto h5 p-2 p-lg-3">
                {{ next_race }}
              </div>
          </div>
      </div>
  </div>

</a>
<!-- end next race -->
